@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap');
@media print {
  @page {
    margin-top: 0;
    margin-bottom: 0;
  }
  body {
    -webkit-print-color-adjust: exact;
    font-family: 'Sarabun', sans-serif;
  }
  .hideWhenPrint {
    display: none;
  }
}
